[config]

# Get a bot token on this page:
# https://discordapp.com/developers/applications
token = <token here>

# Uncomment this to have a trivia channel
#triviachannel = <channel id>


# trubot config
[trubot]
# enabled = True
# token = <token here>
version = 1.0.0
emoji = #fix this please